################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Thandizo.WebPortal/v16/Server/sqlite3
