@model Thandizo.DataModels.Core.Responses.DistrictResponse


<div class="form-group row">
    <label class="bold-text-600 col-md-3 control-label">Region</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <input type="text" class="form-control input"
                   asp-for="RegionName" disabled>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="bold-text-600 col-md-3 control-label">District</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <input type="text" class="form-control input" placeholder="Enter name"
                   asp-for="DistrictName" required>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="bold-text-600 col-md-3 control-label">Latitude</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <input type="text" class="form-control input" placeholder="Enter number"
                   asp-for="Latitude" required>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="bold-text-600 col-md-3 control-label">Longitude</label>

    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <input type="text" class="form-control input" placeholder="Enter number"
                   asp-for="Longitude
                   " required>
        </div>
    </div>
</div>