@model string

<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span class="icon-warning22"></span>
    <span class="bold-text-500">Error:</span>@Model
</div>