@using Thandizo.WebPortal.Helpers;
@using Thandizo.WebPortal.Helpers.General;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Thandizo Web Portal</title>
    <meta name="description" content="Thandizo Web Portal is a web application for managing the thandizo platform" />
    <meta name="keywords" content="Thandizo, thandizo, covid19mw, covid19, covironavirusmw, covironavirusmalawi, coronavirus, malawi visualization, web app, application" />
    <meta name="author" content="angledimension" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Toastr Alerts CSS-->
    <link href="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- Data table CSS -->
    <link href="~/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper">

        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a href="index.html"><img class="brand-img-logo pull-left thandizo-logo-top" src="~/img/logo.png" alt="brand" /></a>
            <ul class="nav navbar-right top-nav pull-right">
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#site_navbar_search">
                        <i class="fa fa-search top-nav-icon"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="~/img/user1.png" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">

                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-search-overlap" id="site_navbar_search">
                <form role="search">
                    <div class="form-group mb-0">
                        <div class="input-search">
                            <div class="input-group">
                                <input type="text" id="overlay_search" name="overlay-search" class="form-control pl-30" placeholder="Search">
                                <span class="input-group-addon pr-30">
                                    <a href="javascript:void(0)" class="close-input-overlay" data-target="#site_navbar_search" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="fa fa-times"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li>
                    <a href="#"><i class="fa fa-dashboard  mr-10"></i>Dashboard</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#users_dr"><i class="fa fa-users mr-10"></i>Users <span class="pull-right"><span class="label label-success mr-10">4</span><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="users_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">User List</a>
                        </li>
                        <li>
                            <a href="#">User Groups</a>
                        </li>
                        <li>
                            <a href="#">User Roles</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Patients" asp-action="ConfirmPatients"><i class="fa fa-wheelchair mr-10"></i>Confirm Patients</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#sm_dr"><i class="fa fa-list-alt mr-10"></i>Static Maintenance<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="sm_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">Regions</a>
                        </li>
                        <li>
                            <a href="#">Districts</a>
                        </li>
                        <li>
                            <a href="#">Countries</a>
                        </li>
                        <li>
                            <a href="#">Nationalities</a>
                        </li>
                        <li>
                            <a href="#">Identification Types</a>
                        </li>
                        <li>
                            <a href="#">Patient Statuses</a>
                        </li>
                        <li>
                            <a href="#">Patient Symptoms</a>
                        </li>
                        <li>
                            <a href="#">Data Centers</a>
                        </li>
                        <li>
                            <a href="#">Health Care Workers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#resources_dr"><i class="fa fa-archive mr-10"></i>Resources <span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="resources_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Resource Allocation</a>
                        </li>
                        <li>
                            <a href="#">Health Facility Resources</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="ResponseTeamMembers"><i class="fa fa-user-md  mr-10"></i>Response Team Members</a>
                </li>
            </ul>
        </div>
        <!-- /Left Sidebar Menu -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <!-- Footer -->
                <footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="index.html" class="brand-logo-footer mr-10"><img class="thandizo-logo-footer" src="~/img/logo_03.png" alt="logo" /></a>
                            <ul class="footer-link nav navbar-nav">
                                <li class="logo-footer"><a href="#">help</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-7 text-right">
                            <p>2020 &copy; <a href="http://angledimension.com/">Angle Dimesion</a></p>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->

            </div>
            <!-- /Main Content -->

        </div>
        <!-- /#wrapper -->
    </div>


    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Toastr Alert JavaScript-->
    <script src="~/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables-data.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/js/dropdown-bootstrap-extended.js"></script>
    <!-- Init JavaScript -->
    <script src="~/js/init.js"></script>

    @if (!string.IsNullOrEmpty(Context.Request.Cookies[AppContextHelper.ToastMessageCookie]) && Context.Request.Cookies[AppContextHelper.ToastMessageTypeCookie].Equals(MessageType.Success.ToString()))
    {

        <script>
            $(document).ready(function () {
                $.toast({
                    heading: 'Patient Confirmation',
                    text: '@Context.Request.Cookies[AppContextHelper.ToastMessageCookie]',
                    position: 'top-right',
                    loaderBg: '#3cb878',
                    icon: 'success',
                    hideAfter: 4500
                });
            });

        </script>

        AppContextHelper.RemoveToastMessage(Context.Response);
    }

    @if (!string.IsNullOrEmpty(Context.Request.Cookies[AppContextHelper.ToastMessageCookie]) && Context.Request.Cookies[AppContextHelper.ToastMessageTypeCookie].Equals(MessageType.Danger.ToString()))
    {

        <script>
            $(document).ready(function () {

                $.toast({
                    heading: 'Patient Confirmation',
                    text: '@Context.Request.Cookies[AppContextHelper.ToastMessageCookie]',
                    position: 'top-right',
                    loaderBg:'#3cb878',
                    icon: 'error',
                    hideAfter: 4500
                });
            });

        </script>

        AppContextHelper.RemoveToastMessage(Context.Response);
    }

    @RenderSection("scripts", false)

</body>
</html>
