<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Thandizo Web Portal</title>
    <meta name="description" content="Thandizo Web Portal is a web application for managing the thandizo platform" />
    <meta name="keywords" content="Thandizo, thandizo, covid19mw, covid19, covironavirusmw, covironavirusmalawi, coronavirus, malawi visualization, web app, application" />
    <meta name="author" content="angledimension" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Data table CSS -->
    <link href="~/lib/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper">

        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a href="index.html"><img class="brand-img-logo pull-left thandizo-logo-top" src="~/img/logo.png" alt="brand" /></a>
            <ul class="nav navbar-right top-nav pull-right">
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#site_navbar_search">
                        <i class="fa fa-search top-nav-icon"></i>
                    </a>
                </li>
                <li>
                    <a id="open_right_sidebar" href="javascript:void(0);"><i class="fa fa-cog top-nav-icon"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-th top-nav-icon"></i></a>
                    <ul class="dropdown-menu app-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <li>
                            <ul class="app-icon-wrap">
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-umbrella txt-info"></i>
                                        <span class="block">weather</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-mail-open-file txt-success"></i>
                                        <span class="block">e-mail</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-date txt-primary"></i>
                                        <span class="block">calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-map txt-danger"></i>
                                        <span class="block">map</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-comment txt-warning"></i>
                                        <span class="block">chat</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="connection-item">
                                        <i class="pe-7s-notebook"></i>
                                        <span class="block">contact</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="text-center"><a href="#">More</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell top-nav-icon"></i><span class="top-nav-icon-badge">5</span></a>
                    <ul class="dropdown-menu alert-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <li>
                            <div class="streamline message-box message-nicescroll-bar">
                                <div class="sl-item">
                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                        <img class="img-responsive img-circle" src="~/img/user.png" alt="avatar" />
                                    </div>
                                    <div class="sl-content">
                                        <a href="javascript:void(0)" class="inline-block capitalize-font  pull-left">Sandy Doe</a>
                                        <span class="inline-block font-12  pull-right">12/10/16</span>
                                        <div class="clearfix"></div>
                                        <p>Neque porro quisquam est!</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="sl-item">
                                    <div class="icon">
                                        <i class="fa fa-spotify"></i>
                                    </div>
                                    <div class="sl-content">
                                        <a href="javascript:void(0)" class="inline-block capitalize-font  pull-left">
                                            2 voice mails
                                        </a>
                                        <span class="inline-block font-12  pull-right">2pm</span>
                                        <div class="clearfix"></div>
                                        <p>Neque porro quisquam est</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="sl-item">
                                    <div class="icon">
                                        <i class="fa fa-whatsapp"></i>
                                    </div>
                                    <div class="sl-content">
                                        <a href="javascript:void(0)" class="inline-block capitalize-font  pull-left">8 voice messanger</a>
                                        <span class="inline-block font-12 pull-right">1pm</span>
                                        <div class="clearfix"></div>
                                        <p>8 texts</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="sl-item">
                                    <div class="icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="sl-content">
                                        <a href="javascript:void(0)" class="inline-block capitalize-font  pull-left">2 new messages</a>
                                        <span class="inline-block font-12  pull-right">1pm</span>
                                        <div class="clearfix"></div>
                                        <p>ashjs@gmail.com</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="sl-item">
                                    <div class="sl-avatar avatar avatar-sm avatar-circle">
                                        <img class="img-responsive img-circle" src="~/img/user4.png" alt="avatar" />
                                    </div>
                                    <div class="sl-content">
                                        <a href="javascript:void(0)" class="inline-block capitalize-font  pull-left">Sandy Doe</a>
                                        <span class="inline-block font-12  pull-right">1pm</span>
                                        <div class="clearfix"></div>
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown"><img src="~/img/user1.png" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
                    <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-credit-card-alt"></i> my balance</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-search-overlap" id="site_navbar_search">
                <form role="search">
                    <div class="form-group mb-0">
                        <div class="input-search">
                            <div class="input-group">
                                <input type="text" id="overlay_search" name="overlay-search" class="form-control pl-30" placeholder="Search">
                                <span class="input-group-addon pr-30">
                                    <a href="javascript:void(0)" class="close-input-overlay" data-target="#site_navbar_search" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="fa fa-times"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <!-- /Top Menu Items -->
        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <li>
                    <a href="#"><i class="fa fa-dashboard  mr-10"></i>Dasboard</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#users_dr"><i class="fa fa-users mr-10"></i>Users <span class="pull-right"><span class="label label-success mr-10">4</span><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="users_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">User List</a>
                        </li>
                        <li>
                            <a href="#">User Groups</a>
                        </li>
                        <li>
                            <a href="#">User Roles</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wheelchair mr-10"></i>Patients</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#sm_dr"><i class="fa-list-alt mr-10"></i>Static Maintenance<span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="sm_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">Regions</a>
                        </li>
                        <li>
                            <a href="#">Districts</a>
                        </li>
                        <li>
                            <a href="#">Countries</a>
                        </li>
                        <li>
                            <a href="#">Nationalities</a>
                        </li>
                        <li>
                            <a href="#">Identification Types</a>
                        </li>
                        <li>
                            <a href="#">Patient Statuses</a>
                        </li>
                        <li>
                            <a href="#">Patient Symptoms</a>
                        </li>
                        <li>
                            <a href="#">Data Centers</a>
                        </li>
                        <li>
                            <a href="#">Health Care Workers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#resources_dr"><i class="fa fa-archive mr-10"></i>Resources <span class="pull-right"><i class="fa fa-fw fa-angle-down"></i></span></a>
                    <ul id="resources_dr" class="collapse collapse-level-1">
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Resource Allocation</a>
                        </li>
                        <li>
                            <a href="#">Health Facility Resources</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /Left Sidebar Menu -->
        <!-- Right Sidebar Menu -->
        <div class="fixed-sidebar-right">
            <ul class="right-sidebar nicescroll-bar">
                <li>
                    <div class="tab-struct custom-tab-1">
                        <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                            <li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">chat</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="messages_tab_btn" role="tab" href="#messages_tab" aria-expanded="false">messages</a></li>
                            <li role="presentation" class=""><a data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">todo</a></li>
                        </ul>
                        <div class="tab-content" id="right_sidebar_content">
                            <div id="chat_tab" class="tab-pane fade active in" role="tabpanel">
                                <div class="chat-box-wrap">
                                    <form role="search">
                                        <div class="input-group mb-15">
                                            <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn  btn-default"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                    <ul class="chat-list-wrap">
                                        <li class="chat-list">
                                            <div class="chat-body">
                                                <a href="javascript:void(0)">
                                                    <div class="chat-data">
                                                        <img class="user-img img-circle" src="~/img/user.png" alt="user" />
                                                        <div class="user-data">
                                                            <span class="name block capitalize-font">ryan gosling</span>
                                                            <span class="time block txt-grey">2pm</span>
                                                        </div>
                                                        <div class="status away"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="chat-data">
                                                        <img class="user-img img-circle" src="~/img/user1.png" alt="user" />
                                                        <div class="user-data">
                                                            <span class="name block capitalize-font">ryan gosling</span>
                                                            <span class="time block txt-grey">1pm</span>
                                                        </div>
                                                        <div class="status offline"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="chat-data">
                                                        <img class="user-img img-circle" src="~/img/user2.png" alt="user" />
                                                        <div class="user-data">
                                                            <span class="name block capitalize-font">ryan gosling</span>
                                                            <span class="time block txt-grey">2pm</span>
                                                        </div>
                                                        <div class="status online"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="chat-data">
                                                        <img class="user-img img-circle" src="~/img/user3.png" alt="user" />
                                                        <div class="user-data">
                                                            <span class="name block capitalize-font">ryan gosling</span>
                                                            <span class="time block txt-grey">2pm</span>
                                                        </div>
                                                        <div class="status online"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)">
                                                    <div class="chat-data">
                                                        <img class="user-img img-circle" src="~/img/user4.png" alt="user" />
                                                        <div class="user-data">
                                                            <span class="name block capitalize-font">ryan gosling</span>
                                                            <span class="time block txt-grey">2pm</span>
                                                        </div>
                                                        <div class="status online"></div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="messages_tab" class="tab-pane fade" role="tabpanel">
                                <div class="message-box-wrap">
                                    <div class="streamline message-box">
                                        <div class="sl-item">
                                            <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                <img class="img-responsive img-circle" src="~/img/user.png" alt="avatar" />
                                            </div>
                                            <div class="sl-content">
                                                <a href="javascript:void(0)" class="inline-block capitalize-font  mb-5 pull-left">Sandy Doe</a>
                                                <span class="inline-block font-12 mb-5 pull-right">12/10/16</span>
                                                <div class="clearfix"></div>
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="sl-item">
                                            <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                <img class="img-responsive img-circle" src="~/img/user1.png" alt="avatar" />
                                            </div>
                                            <div class="sl-content">
                                                <a href="javascript:void(0)" class="inline-block capitalize-font  mb-5 pull-left">Sandy Doe</a>
                                                <span class="inline-block font-12 mb-5 pull-right">2pm</span>
                                                <div class="clearfix"></div>
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="sl-item">
                                            <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                <img class="img-responsive img-circle" src="~/img/user2.png" alt="avatar" />
                                            </div>
                                            <div class="sl-content">
                                                <a href="javascript:void(0)" class="inline-block capitalize-font  mb-5 pull-left">Sandy Doe</a>
                                                <span class="inline-block font-12 mb-5 pull-right">1pm</span>
                                                <div class="clearfix"></div>
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="sl-item">
                                            <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                <img class="img-responsive img-circle" src="~/img/user3.png" alt="avatar" />
                                            </div>
                                            <div class="sl-content">
                                                <a href="javascript:void(0)" class="inline-block capitalize-font  mb-5 pull-left">Sandy Doe</a>
                                                <span class="inline-block font-12 mb-5 pull-right">1pm</span>
                                                <div class="clearfix"></div>
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="sl-item">
                                            <div class="sl-avatar avatar avatar-sm avatar-circle">
                                                <img class="img-responsive img-circle" src="~/img/user4.png" alt="avatar" />
                                            </div>
                                            <div class="sl-content">
                                                <a href="javascript:void(0)" class="inline-block capitalize-font  mb-5 pull-left">Sandy Doe</a>
                                                <span class="inline-block font-12 mb-5 pull-right">1pm</span>
                                                <div class="clearfix"></div>
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="todo_tab" class="tab-pane fade" role="tabpanel">
                                <div class="todo-box-wrap">
                                    <!-- Todo-List -->
                                    <ul class="todo-list">
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-default">
                                                <input type="checkbox" id="checkbox01" />
                                                <label for="checkbox01">Record The First Episode Of HTML Tutorial</label>
                                            </div>
                                        </li>
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-pink">
                                                <input type="checkbox" id="checkbox02" />
                                                <label for="checkbox02">Prepare The Conference Schedule</label>
                                            </div>
                                        </li>
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-warning">
                                                <input type="checkbox" id="checkbox03" checked />
                                                <label for="checkbox03">Decide The Live Discussion Time</label>
                                            </div>
                                        </li>
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" id="checkbox04" checked />
                                                <label for="checkbox04">Prepare For The Next Project</label>
                                            </div>
                                        </li>
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-danger">
                                                <input type="checkbox" id="checkbox05" checked />
                                                <label for="checkbox05">Finish Up AngularJs Tutorial</label>
                                            </div>
                                        </li>
                                        <li class="todo-item">
                                            <div class="checkbox checkbox-purple">
                                                <input type="checkbox" id="checkbox06" checked />
                                                <label for="checkbox06">Finish Infinity Project</label>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- /Todo-List -->
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /Right Sidebar Menu -->
        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <!-- Footer -->
                <footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-5">
                            <a href="index.html" class="brand-logo-footer mr-10"><img class="thandizo-logo-footer" src="~/img/logo_03.png" alt="logo" /></a>
                            <ul class="footer-link nav navbar-nav">
                                <li class="logo-footer"><a href="#">help</a></li>
                                <li class="logo-footer"><a href="#">terms</a></li>
                                <li class="logo-footer"><a href="#">privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-7 text-right">
                            <p>2020 &copy; <a href="http://angledimension.com/">Angle Dimesion</a></p>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->

            </div>
            <!-- /Main Content -->

        </div>
        <!-- /#wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
    <!-- jQuery -->
    <script src="~/lib/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Data table JavaScript -->
    <script src="~/lib/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables-data.js"></script>
    <!-- Slimscroll JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="~/js/dropdown-bootstrap-extended.js"></script>
    <!-- Init JavaScript -->
    <script src="~/js/init.js"></script>
</body>
</html>
