
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="processing text-info">
                    <img src="~/img/loader.gif" alt="load" />
                    <h4>
                        We are processing your request
                    </h4>
                    <span class="text-danger">Warning: Do not refresh or close this page until the process is finished</span>
                </div>
            </div>
        </div>
    </div>
</div>