@model Thandizo.DataModels.DataCenters.FacilityTypeDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.FacilityTypeName)
    </div>
</div>