@model Thandizo.DataModels.DataCenters.Responses.HealthCareWorkerResponse

<div class="row heading-bg  bg-th-grey">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Delete Health Care Worker</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a href="#"><span>Static Maintenance</span></a></li>
            <li><a asp-action="Index"><span>Health Care Workers</span></a></li>
            <li><a class="active"><span>Delete</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->

<div class="row">
    <div class="col-md-5 text-right col-lg-offset-7">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "HealthCareWorkers")'">
                <i class="fa fa-arrow-left"></i><span class="with-icon">Back</span>
            </button>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <h6 class="panel-title txt-dark">Center: @Model.CenterName</h6>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <form asp-action="Delete" class="form-horizontal">
                    <input type="hidden" asp-for="WorkerId" />
                    <div class="panel-body">
                        @{
                            Html.RenderPartial("../Shared/_MessageOutput");
                        }

                        <div class="alert alert-warning">
                            <span class="fa fa-exclamation"></span>
                            <span class="bold-text-600">Alert: </span>Are you sure you want to confirm this record?
                        </div>

                        @{
                            await Html.RenderPartialAsync("_DataView");
                        }

                    </div>
                    <div class="panel-footer panel-default">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-danger btn-sm" type="submit">
                                    <i class="fa fa-trash"></i><span class="with-icon">Delete</span>
                                </button>
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Index", "HealthCareWorkers")'">
                                    <i class="fa fa-times"></i><span class="with-icon">Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->