@model Thandizo.DataModels.ViewModels.Notifications.BulkNotificationRequestViewModel

<div class="row heading-bg  bg-th-grey">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Create Opt In Notification</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a href="#"><span>Notifications</span></a></li>
            <li><a asp-action="Index"><span>Opt In Notifications</span></a></li>
            <li><a class="active"><span>Create</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->

<div class="row">
    <div class="col-md-5 text-right col-lg-offset-7">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "BulkNotifications")'">
                <i class="fa fa-arrow-left"></i><span class="with-icon">Back</span>
            </button>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">

            <div class="panel-wrapper collapse in">
                <form asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
                    <input type="hidden" asp-for="BulkNotificationRequest.CreatedBy" value="SYS" />
                    <div class="panel-body">
                        @{
                            Html.RenderPartial("../Shared/_MessageOutput");
                        }

                        @{
                            await Html.RenderPartialAsync("_DataEntry");
                        }

                    </div>
                    <div class="panel-footer panel-default">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button class="btn btn-primary btn-sm" type="submit">
                                    <i class="fa fa-send"></i><span class="with-icon">Send</span>
                                </button>
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Index", "BulkNotifications")'">
                                    <i class="fa fa-times"></i><span class="with-icon">Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Row -->
@section scripts {
    <!-- Moment JavaScript -->
    <script type="text/javascript" src="~/vendors/bower_components/moment/min/moment-with-locales.min.js"></script>
    <!-- Bootstrap Datetimepicker JavaScript -->
    <script type="text/javascript" src="~/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Boostrap js-->
    <script src="~/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {

             $(document).on("keydown", ":input:not(textarea):not(:submit):not(text)", function (event) {
                if (event.key == "Enter") {
                    event.preventDefault();
                }
            });

            /* sendDatePicker Init*/
            $('#sendDatePicker').datetimepicker({
                format: "DD-MMM-YYYY h:mm A",
                useCurrent: true,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
            }).on('dp.show', function () {
                if ($(this).data("DateTimePicker").date() === null)
                    $(this).data("DateTimePicker").date(moment());
            });

            var sendNow = $("#txtSendNow").val();
            if (sendNow === "True") {
                $("#chckSendNow").prop("checked", true)
            }

            $("#chckSendNow").on('change', function () {
                if ($("#chckSendNow").is(":checked")) {
                    $("#txtSendNow").val("True")
                    $("#txtSendDatePicker").attr("disabled", true);
                } else {
                    $("#txtSendNow").val("False")
                    $("#txtSendDatePicker").attr("disabled", false);
                }
            });

            var ToPatient = $("#txtToPatients").val();
            if (ToPatient === "True") {
                $("#chckToPatients").prop("checked", true)
            }

            $("#chckToPatients").on('change', function () {
                if ($("#chckToPatients").is(":checked")) {
                    $("#txtToPatients").val("True")
                } else {
                    $("#txtToPatients").val("False")

                }
            });

            var ToTeamMember = $("#txtToTeamMembers").val();
            if (ToTeamMember === "True") {
                $("#chckToTeamMembers").prop("checked", true)
            }

            $("#chckToTeamMembers").on('change', function () {
                if ($("#chckToTeamMembers").is(":checked")) {
                    $("#txtToTeamMembers").val("True")
                } else {
                    $("#txtToTeamMembers").val("False")

                }
            });

            var ToHealthCareWorker = $("#txtToHealthCareWorkers").val();
            if (ToHealthCareWorker === "True") {
                $("#chckToHealthCareWorkers").prop("checked", true)
            }

            $("#chckToHealthCareWorkers").on('change', function () {
                if ($("#chckToHealthCareWorkers").is(":checked")) {
                    $("#txtToHealthCareWorkers").val("True")
                } else {
                    $("#txtToHealthCareWorkers").val("False")

                }
            });

            var ToChannels = $("#txtToChannels").val();
            if (ToChannels === "True") {
                $("#chckToChannels").prop("checked", true)
            }

            $("#chckToChannels").on('change', function () {
                if ($("#chckToChannels").is(":checked")) {
                    $("#txtToChannels").val("True")
                } else {
                    $("#txtToChannels").val("False")

                }
            });

            var ToCustomNumbers = $("#txtToCustomNumbers").val();
            if (ToCustomNumbers === "True") {
                $("#chckToCustomNumbers").prop("checked", true)
                $("#divFileUpload").show()
                $("#divCustomNumbers").show()
            } else {
                $("#chckToCustomNumbers").prop("checked", false)
                $("#divFileUpload").hide()
                $("#divCustomNumbers").hide()
            }

            $("#chckToCustomNumbers").on('change', function () {
                if ($("#chckToCustomNumbers").is(":checked")) {
                    $("#txtToCustomNumbers").val("True")
                    $("#divFileUpload").show()
                    $("#divCustomNumbers").show()
                    console.log("true");
                } else {
                    $("#txtToCustomNumbers").val("False")
                    $("#divFileUpload").hide()
                    $("#divCustomNumbers").hide()
                    console.log("false");
                }
            });

            /*initial setup*/
            $("#txtToPatient").val("False");
            $("#txtToCustomNumbers").val("False");
            $("#txtToChannels").val("False");
            $("#txtToHealthCareWorker").val("False");
            $("#txtToTeamMember").val("False");
            $("#txtSendNow").val("False")
            $("#divSelChannel").show();
            $("#divSendNow").show();
            $("#divSendDate").show();
            $(".div-on-demand").hide();


            //change listener
            $("#selNotificaitonOpt").change(function () {
                if ($("#selNotificaitonOpt option:selected").val() === "D") {
                    $("#txtSendNow").val("True");
                    $("#divSelChannel").hide();
                    $("#divSendNow").hide();
                    $("#divSendDate").hide();
                    $(".div-on-demand").show();
                    $("#divFileUpload").hide();
                    $("#divCustomNumbers").hide();
                } else {
                    $("#txtToPatients").val("False");
                    $("#txtToCustomNumbers").val("False");
                    $("#txtToChannels").val("False");
                    $("#txtToHealthCareWorkers").val("False");
                    $("#txtToTeamMembers").val("False");
                    $("#txtSendNow").val("False");

                    $("#chckToPatients").prop("checked", false);
                    $("#chckToCustomNumbers").prop("checked", false);
                    $("#chckToChannels").prop("checked", false);
                    $("#chckToHealthCareWorkers").prop("checked", false);
                    $("#chckToTeamMembers").prop("checked", false);
                    $("#chckSendNow").prop("checked", false);

                    $("#divSelChannel").show();
                    $("#divSendNow").show();
                    $("#divSendDate").show();
                    $("#divFileUpload").hide();
                    $("#divCustomNumbers").hide();
                    $(".div-on-demand").hide();
                }
            });
        });
    </script>
}
