@model Thandizo.DataModels.Core.RegionDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Region Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.RegionName)
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Latitude</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Latitude)
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Longitude</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.Longitude)
    </div>
</div>