@model Thandizo.DataModels.Core.IdentificationTypeDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Description</label>
    </div><div class="col-md-10">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>