@model Thandizo.DataModels.Core.IdentificationTypeDTO

<div class="row">
    <div class="col-md-3 text-right">
        <label class="bold-text-600 txt-dark">Description</label>
    </div><div class="col-md-9 txt-dark">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        <label class="bold-text-600 txt-dark">External Reference Number</label>
    </div><div class="col-md-9 txt-dark">
        @Html.DisplayFor(model => model.ExternalReferenceNumber)
    </div>
</div>