@model Thandizo.DataModels.Notifications.ScheduledNotificationEscalationRuleDTO

<div class="row heading-bg  bg-th-grey">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Edit Escalation Rule</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Home">Dashboard</a></li>
            <li><a href="#"><span>Notifications</span></a></li>
            <li><a asp-action="Index"><span>Escalation Rules</span></a></li>
            <li><a class="active"><span>Edit</span></a></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->

<div class="row">
    <div class="col-md-5 text-right col-lg-offset-7">
        <div class="btn-group" role="group" aria-label="...">
            <button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("Index", "ScheduledNotificationEscalationRules")'">
                <i class="fa fa-arrow-left"></i><span class="with-icon">Back</span>
            </button>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">

            <div class="panel-wrapper collapse in">
                <form asp-action="Edit" class="form-horizontal">
                    <input type="hidden" asp-for="RuleId" />
                    <input type="hidden" asp-for="CreatedBy" />
                    <div class="panel-body">
                        @{
                            Html.RenderPartial("../Shared/_MessageOutput");
                        }

                        @{
                            await Html.RenderPartialAsync("_DataEntry");
                        }

                    </div>
                    <div class="panel-footer panel-default">
                        <div class="text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                                <button class="btn btn-primary btn-sm" type="submit">
                                    <i class="fa fa-save"></i><span class="with-icon">Save</span>
                                </button>
                                <button class="btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Index", "ScheduledNotificationEscalationRules")'">
                                    <i class="fa fa-times"></i><span class="with-icon">Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
