@model Thandizo.DataModels.Resources.ResourceDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Resource Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.ResourceName)
    </div>
</div>