@model Thandizo.DataModels.Patients.TransmissionClassificationDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Name</label>
    </div><div class="col-md-10">
        @Html.DisplayFor(model => model.ClassificationName)
    </div>
</div>