@model Thandizo.DataModels.Core.NationalityDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Nationality Name</label>
    </div><div class="col-md-10">
        @Html.DisplayFor(model => model.NationalityName)
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Code</label>
    </div><div class="col-md-10">
        @Html.DisplayFor(model => model.NationalityCode)
    </div>
</div>