@model IEnumerable<Thandizo.DataModels.Core.NationalityDTO>

<div class="table-responsive table-extended">
    <table id="dtNationalitysDataTable" class="table team-members-table table-hover display  pb-30 dt-dataTable">
        <thead>
            <tr>
                <th>Nationality Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model is null)
            {
                <tr>
                    <td colspan="5">
                        <div class="text-center">No Data Found</div>
                    </td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NationalityName)</td>
                        <td class="table-action-button-100">
                            <label class="nationality-code" hidden>@Html.DisplayFor(modelItem => item.NationalityCode)</label>
                            <a href='#' class="select-nationality btn btn-primary btn-sm">
                                <i class="fa fa-check"></i><span class="with-icon">Select</span>
                            </a>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#dtNationalitysDataTable').DataTable({
            scrollY: '200px',
            scrollCollapse: true,
            paging: false
        });

        $("#dtNationalitysDataTable").on("click", ".select-nationality", function () {
            var nationalityName = $(this).parents('tr').find("td:eq(0)").text();
            var nationalityCode = $(this).parents('tr').find(".nationality-code").text();
            
            $("#txtNationalityName").val(nationalityName);
            $("#txtNationalityCode").val(nationalityCode);
            $('#searchNationalitiesModal').modal('hide');
        });
    });
</script>