@model Thandizo.DataModels.Patients.PatientSymptomDTO

<div class="row">
    <div class="col-md-2 text-right">
        <label class="bold-text-600 txt-dark">Symptom Name</label>
    </div><div class="col-md-10 txt-dark">
        @Html.DisplayFor(model => model.SymptomName)
    </div>
</div>