@model Thandizo.DataModels.Core.CountryDTO

<div class="row">
    <div class="col-md-3 text-right">
        <label class="bold-text-600 txt-dark">Country Name</label>
    </div><div class="col-md-9 txt-dark">
        @Html.DisplayFor(model => model.CountryName)
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        <label class="bold-text-600 txt-dark">Country Code</label>
    </div><div class="col-md-9 txt-dark">
        @Html.DisplayFor(model => model.CountryCode)
    </div>
</div>
<div class="row">
    <div class="col-md-3 text-right">
        <label class="bold-text-600 txt-dark">External Reference Number</label>
    </div><div class="col-md-9 txt-dark">
        @Html.DisplayFor(model => model.ExternalReferenceNumber)
    </div>
</div>